body{
    background-color: #EAFDFCFF;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style: none;
}

hr{
    
    border-top: 2px black;
    border-width: 5px;
    border-style: dotted none none;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h1,h3{
    color: #66BFBF;
}